---
import Section from "../components/Section.astro";

import { education } from "../data/resume.json" assert { type: "json" };
const { carrers, courses } = education;
---

<Section tittle="Educación">
  <h3>CARRERA PROFESIONAL</h3>
  {
    carrers.map(({ institution, url, area, studyType, startDate, endDate }) => {
      return (
        <div class="contenedor">
          <div class="infoInstitucion">
            <h4>{institution}</h4>
            <h4 class="tituloEducativo">{area}</h4>
            <h5 class="tituloEducativo">Carrera {studyType}</h5>
          </div>
          <div class="infoFechaUrl" style="text-align: right">
            <h5>
              {startDate} a {endDate}
            </h5>
            {/*             <a href=`${url}` target="_blank" rel= "noopener noreferrer">
              {url}
            </a> */}
          </div>
        </div>
      );
    })
  }
  <h3>CURSOS Y DIPLOMADOS</h3>
  {
    courses.map(({ institution, url, area, studyType, startDate, endDate }) => {
      return (
        <div class="contenedor">
          <div class="infoInstitucion">
            <h4>{institution}</h4>
            <h4 class="tituloEducativo">{area}</h4>
            <h5 class="tituloEducativo">{studyType}</h5>
          </div>
          <div class="infoFechaUrl" style="text-align: right">
            <h5>
              {startDate} a {endDate}
            </h5>
          </div>
        </div>
      );
    })
  }
</Section>

<style>
  .contenedor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 3vw;
  }

  h3,
  h5 {
    color: #111;
    margin-bottom: 10px;
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  .contenedor h4 {
    font-weight: 600;
    color: #222;
  }
  .contenedor h5 {
    font-weight: 555;
    color: #000;
    margin: 0.4rem 0 1rem 0;
  }
  .tituloEducativo {
    opacity: 0.8;
  }

  .infoFechaUrl {
    overflow-wrap: break-word;
    opacity: 0.9;
  }
  .infoInstitucion {
    overflow-wrap: break-word;
  }
  p {
    font-weight: 500;
    margin: 0 0 1rem 0;
  }
  h3 {
    font-weight: 700;
  }
  h4 {
    font-weight: 600;
    color: #444;
  }
  h5 {
    font-weight: 555;
  }

  @media screen and (max-width: 600px) {
    .contenedor {
      flex-direction: column;
      text-align: justify;
    }
    .contenedor h5 {
      margin: 0 0 2px 0;
    }
    .infoFechaUrl {
      margin-bottom: 10px;
    }
    .infoFechaUrl h5 {
      margin: 0;
      font-weight: 500;
    }
  }
</style>
