---
import Section from "src/components/Section.astro";

import { education } from "../data/resume.json" assert { type: "json" };
const { carrers, courses } = education;
---

<Section tittle="Education">
  {
    carrers.map(
      ({ institution, url, area, studyType, startDate, endDate, score }) => {
        return (<h3>{institution}</h3>
        <h4>{area}</h4>
        <h4>{studyType}</h4>
        <h5>{startDate}-{endDate}</h5>
        <h5>{url}</h5>
        <p>{score}</p>);
      }
    )
  }
</Section>
