---
import Section from "../components/Section.astro";
import { work } from "../data/resume.json";
---

<Section tittle="Experiencia">
  <ul>
    {
      work.map((job) => (
        <li>
          <h3>{job.name}</h3>
          <h4>{job.position}</h4>
          <h5>
            {job.startDate} - {job.endDate}
          </h5>
          <p>
            {job.summary.map((linea) => (
              <span>
                {linea}
                <br />
              </span>
            ))}
          </p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  h3 {
    font-weight: 700;
    color: #222;
  }
  h4 {
    font-weight: 600;
    color: #444;
  }
  h5 {
    font-weight: 555;
    color: #333;
    margin: 0.4rem 0 1rem 0;
  }
  p {
    font-weight: 500;
    margin: 0 0 1.2rem 0;
  }

  @media screen and (max-width: 600px) {
    p {
      text-align: justify;
    }
  }
</style>
